<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Student-Info" data-toc-modified-id="Student-Info-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Student Info</a></span></li><li><span><a href="#Introduction" data-toc-modified-id="Introduction-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Get-Market-Data---NDX" data-toc-modified-id="Get-Market-Data---NDX-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Get Market Data - NDX</a></span><ul class="toc-item"><li><span><a href="#Add-Technical-Indicator---MA-Data" data-toc-modified-id="Add-Technical-Indicator---MA-Data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Add Technical Indicator - MA Data</a></span></li></ul></li><li><span><a href="#Get-Covid19-Data" data-toc-modified-id="Get-Covid19-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get Covid19 Data</a></span><ul class="toc-item"><li><span><a href="#Add-Covid19-USA--No.-Moving--Averages" data-toc-modified-id="Add-Covid19-USA--No.-Moving--Averages-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Add Covid19 USA  No. Moving  Averages</a></span></li><li><span><a href="#Add-Nasdaq-daily-closing-price" data-toc-modified-id="Add-Nasdaq-daily-closing-price-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Add Nasdaq daily closing price</a></span></li></ul></li><li><span><a href="#Save-data-to-file" data-toc-modified-id="Save-data-to-file-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Save data to file</a></span></li></ul></div>

# Student Info
Name: Susanna Mir
Cohort: DS-PT
Instructor: Lindsey Berlin

********************************

# Introduction

Project:
    

Steps:
    
    1) Get daily Nasdaq data from yahoo finance for the previous 5 years.  Add moving average technical indicator
       data to this dataset.  Get Covid19 Case number data from ECDC(European Centre Disease Control) and create daily moving averages joined with NASDAQ closing price by date.
    
    3) Create time series regression model to analyse if the daily NASDAQ index stock market price changed with a faster ma during the covid19 stock market crash
    
    4) Create time series regression model to analyse if the NASDAQ index daily stock market daily closing price was effected by the 7/14/21/28 day covid19 case number moving averages in the USA.
    
    5) Hypothesis test:  There was a change in NASDAQ stock market index price average within 6 months after the covid19 crash as compared to 6 months prior.

In [3]:
### Get data from Yahoo Finance using yfinance package

In [4]:
#pip install yfinance

In [114]:
import pandas as pd
import numpy as np
import yfinance as yf
import gc; gc.enable()
import warnings
warnings.filterwarnings("ignore")

#Dates to extract NASDAQ stock market ticker daily data from Yahoo finance
start_date = "2019-07-01"
end_date = "2020-06-30"

# Get Market Data - NDX

source for stocks list: [https://whalewisdom.com/filer/renaissance-technologies-llc]

In [115]:
# df_nasdaq_100 = yf.download("NDX", start="2015-01-01", end="2020-11-02")

df_nasdaq_100 = yf.download("NDX", start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [116]:
print(df_nasdaq_100)

                    Open          High           Low         Close  \
Date
2019-10-09   7690.529785   7690.529785   7690.529785   7690.529785
2020-02-11   9517.860352   9517.860352   9517.860352   9517.860352
2020-02-12   9613.200195   9613.200195   9613.200195   9613.200195
2020-02-13   9595.700195   9595.700195   9595.700195   9595.700195
2020-02-14   9623.580078   9623.580078   9623.580078   9623.580078
...                  ...           ...           ...           ...
2020-06-23  10209.799805  10209.799805  10209.799805  10209.799805
2020-06-24  10002.700195  10002.700195  10002.700195  10002.700195
2020-06-25  10101.799805  10101.799805  10101.799805  10101.799805
2020-06-26   9849.360352   9849.360352   9849.360352   9849.360352
2020-06-29   9961.160156   9961.160156   9961.160156   9961.160156

               Adj Close  Volume
Date
2019-10-09   7690.529785       0
2020-02-11   9517.860352       0
2020-02-12   9613.200195       0
2020-02-13   9595.700195       0
2020-02-14   9623.580078       0
...                  ...     ...
2020-06-23  10209.799805       0
2020-06-24  10002.700195       0
2020-06-25  10101.799805       0
2020-06-26   9849.360352       0
2020-06-29   9961.160156       0

[93 rows x 6 columns]

## Add Technical Indicator - MA Data

In [91]:
# # Keep environ the period of the first four months before and after covid19 stock market crash date
# # 
# start_date = "2019-06-01"
# end_date = "30-07-20"
# #greater than the start date and smaller than the end date
# #ndx_data_covid_pre_post = ndx_data
# # ndx_data_covid_pre_post = (ndx_data['Date'] > '01/12/19') & (ndx_data['Date'] <= end_date)
# #ndx_data_covid_pre_post = ndx_data[ndx_data["Date"].isin(pd.date_range("2019-12-01", "30-07-20"))]
# df_nasdaq_100 = df_nasdaq_100[df_nasdaq_100["Date"].isin(pd.date_range(start_date, end_date))]
# df_nasdaq_100.tail()

In [118]:
#Calculate moving average data
df_nasdaq_100['ndx_ma1']=df_nasdaq_100.rolling(window=1).Close.mean()
df_nasdaq_100['ndx_ma2']=df_nasdaq_100.rolling(window=2).Close.mean()
df_nasdaq_100['ndx_ma3']=df_nasdaq_100.rolling(window=3).Close.mean()
df_nasdaq_100['ndx_ma4']=df_nasdaq_100.rolling(window=4).Close.mean()
df_nasdaq_100['ndx_ma5']=df_nasdaq_100.rolling(window=5).Close.mean()
df_nasdaq_100['ndx_ma6']=df_nasdaq_100.rolling(window=6).Close.mean()
df_nasdaq_100['ndx_ma7']=df_nasdaq_100.rolling(window=7).Close.mean()
df_nasdaq_100['ndx_ma8']=df_nasdaq_100.rolling(window=8).Close.mean()
df_nasdaq_100['ndx_ma9']=df_nasdaq_100.rolling(window=9).Close.mean()
df_nasdaq_100['ndx_ma10']=df_nasdaq_100.rolling(window=10).Close.mean()
df_nasdaq_100['ndx_ma14']=df_nasdaq_100.rolling(window=7).Close.mean()
df_nasdaq_100['ndx_ma21']=df_nasdaq_100.rolling(window=10).Close.mean()
df_nasdaq_100['ndx_ma28']=df_nasdaq_100.rolling(window=10).Close.mean()


# #Calculate RSI data
# delta = df_nasdaq_100.Close.diff()
# window = 8
# up_days = delta.copy()
# up_days[delta<=0]=0.0
# down_days = abs(delta.copy())
# down_days[delta>0]=0.0
# RS_up = up_days.rolling(window).mean()
# RS_down = down_days.rolling(window).mean()
# rsi= 100-100/(1+RS_up/RS_down)

df_nasdaq_100.head

<bound method NDFrame.head of                     Open          High           Low         Close  \
Date
2019-10-09   7690.529785   7690.529785   7690.529785   7690.529785
2020-02-11   9517.860352   9517.860352   9517.860352   9517.860352
2020-02-12   9613.200195   9613.200195   9613.200195   9613.200195
2020-02-13   9595.700195   9595.700195   9595.700195   9595.700195
2020-02-14   9623.580078   9623.580078   9623.580078   9623.580078
...                  ...           ...           ...           ...
2020-06-23  10209.799805  10209.799805  10209.799805  10209.799805
2020-06-24  10002.700195  10002.700195  10002.700195  10002.700195
2020-06-25  10101.799805  10101.799805  10101.799805  10101.799805
2020-06-26   9849.360352   9849.360352   9849.360352   9849.360352
2020-06-29   9961.160156   9961.160156   9961.160156   9961.160156

               Adj Close  Volume       ndx_ma1       ndx_ma2       ndx_ma3  \
Date
2019-10-09   7690.529785       0   7690.529785           NaN           NaN
2020-02-11   9517.860352       0   9517.860352   8604.195068           NaN
2020-02-12   9613.200195       0   9613.200195   9565.530273   8940.530111
2020-02-13   9595.700195       0   9595.700195   9604.450195   9575.586914
2020-02-14   9623.580078       0   9623.580078   9609.640137   9610.826823
...                  ...     ...           ...           ...           ...
2020-06-23  10209.799805       0  10209.799805  10170.049805  10116.233073
2020-06-24  10002.700195       0  10002.700195  10106.250000  10114.266602
2020-06-25  10101.799805       0  10101.799805  10052.250000  10104.766602
2020-06-26   9849.360352       0   9849.360352   9975.580078   9984.620117
2020-06-29   9961.160156       0   9961.160156   9905.260254   9970.773438

                 ndx_ma4       ndx_ma5       ndx_ma6       ndx_ma7  \
Date
2019-10-09           NaN           NaN           NaN           NaN
2020-02-11           NaN           NaN           NaN           NaN
2020-02-12           NaN           NaN           NaN           NaN
2020-02-13   9104.322632           NaN           NaN           NaN
2020-02-14   9587.585205   9208.174121           NaN           NaN
...                  ...           ...           ...           ...
2020-06-23  10090.174805  10068.635937  10048.758301  10009.919922
2020-06-24  10087.849854  10072.679883  10057.646647  10042.178571
2020-06-25  10111.149902  10090.639844  10077.533203  10063.954241
2020-06-26  10040.915039  10058.791992  10050.426595  10044.937081
2020-06-29   9978.755127  10024.964062  10042.520020  10037.674247

                 ndx_ma8       ndx_ma9      ndx_ma10      ndx_ma21  \
Date
2019-10-09           NaN           NaN           NaN           NaN
2020-02-11           NaN           NaN           NaN           NaN
2020-02-12           NaN           NaN           NaN           NaN
2020-02-13           NaN           NaN           NaN           NaN
2020-02-14           NaN           NaN           NaN           NaN
...                  ...           ...           ...           ...
2020-06-23   9966.651123   9924.632161   9941.598926   9941.598926
2020-06-24  10009.017456   9970.656576   9932.438965   9932.438965
2020-06-25  10049.631226  10019.326606   9983.770898   9983.770898
2020-06-26  10037.130005  10027.378906  10002.329980  10002.329980
2020-06-29  10034.464966  10028.688911  10020.757031  10020.757031

                ndx_ma28      ndx_ma14
Date
2019-10-09           NaN           NaN
2020-02-11           NaN           NaN
2020-02-12           NaN           NaN
2020-02-13           NaN           NaN
2020-02-14           NaN           NaN
...                  ...           ...
2020-06-23   9941.598926  10009.919922
2020-06-24   9932.438965  10042.178571
2020-06-25   9983.770898  10063.954241
2020-06-26  10002.329980  10044.937081
2020-06-29  10020.757031  10037.674247

[93 rows x 19 columns]>

# Get Covid19 Data

- Import Covid19 worldwide data from file provided by the ECDC (European Centre for Disease Prevention and Control) 
[https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases] and calculate the rolling 7,14,21,28 moving average.  Pipe to new file.

In [119]:
covid19_data = pd.read_csv('ecdc_covid_worldwide_data.csv')

In [120]:
usa_covid19_data = covid19_data[covid19_data['countriesAndTerritories']=='United_States_of_America']

## Add Covid19 USA  No. Moving  Averages

In [121]:
#Calculate moving average data for usa and then worldwide
usa_covid19_data['usa_cases_ma7']=usa_covid19_data.rolling(window=7).cases.mean()
usa_covid19_data['usa_cases_ma14']=usa_covid19_data.rolling(window=14).cases.mean()
usa_covid19_data['usa_cases_ma21']=usa_covid19_data.rolling(window=21).cases.mean()
usa_covid19_data['usa_cases_ma28']=usa_covid19_data.rolling(window=28).cases.mean()

## Add Nasdaq daily closing price

- Join closing price of NDX df by date to covid19_ndx df by date. Set datetime index for both before joining

In [122]:
usa_covid19_data = usa_covid19_data.rename(columns={'dateRep': 'Date'})
usa_covid19_data = usa_covid19_data.rename(columns={'cases': 'usa_daily_cases'})

In [123]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
54981,24/11/20,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
54982,23/11/20,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
54983,22/11/20,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
54984,21/11/20,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
54985,20/11/20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [124]:
def make_datetime_index(df,col_to_make_index = 'Date', drop=False, verbose=True):
    '''           
         Transforms data into datetime object with time as index, defaulted as monthly     
         
         df          Dataframe to transform     
    '''

    df[col_to_make_index] = pd.to_datetime(df[col_to_make_index], errors='coerce')
    df = df.set_index('Date', drop=False)
    if verbose:
        display(df.index)
    return df

In [125]:
# usa_covid19_data.set_index(pd.to_datetime(usa_covid19_data['dateRep']), inplace=True)
usa_covid19_data = make_datetime_index(usa_covid19_data)

DatetimeIndex(['2020-11-24', '2020-11-23', '2020-11-22', '2020-11-21',
               '2020-11-20', '2020-11-19', '2020-11-18', '2020-11-17',
               '2020-11-16', '2020-11-15',
               ...
               '2020-09-01', '2020-08-01', '2020-07-01', '2020-06-01',
               '2020-05-01', '2020-04-01', '2020-03-01', '2020-02-01',
               '2020-01-01', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=330, freq=None)

In [126]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,
2020-11-24,2020-11-24,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
2020-11-23,2020-11-23,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
2020-11-22,2020-11-22,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
2020-11-21,2020-11-21,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
2020-11-20,2020-11-20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [127]:
# # df_nasdaq_100.set_index(pd.to_datetime(df_nasdaq_100['Date']), inplace=True)
# df_nasdaq_100 = make_datetime_index(df_nasdaq_100)

In [128]:
df_nasdaq_100.head()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,ndx_ma5,ndx_ma6,ndx_ma7,ndx_ma8,ndx_ma9,ndx_ma10,ndx_ma21,ndx_ma28,ndx_ma14
Date,,,,,,,,,,,,,,,,,,,
2019-10-09,7690.529785,7690.529785,7690.529785,7690.529785,7690.529785,0,7690.529785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-11,9517.860352,9517.860352,9517.860352,9517.860352,9517.860352,0,9517.860352,8604.195068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-12,9613.200195,9613.200195,9613.200195,9613.200195,9613.200195,0,9613.200195,9565.530273,8940.530111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-13,9595.700195,9595.700195,9595.700195,9595.700195,9595.700195,0,9595.700195,9604.450195,9575.586914,9104.322632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-14,9623.580078,9623.580078,9623.580078,9623.580078,9623.580078,0,9623.580078,9609.640137,9610.826823,9587.585205,9208.174121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
usa_covid19_ndx_data = df_nasdaq_100.join(usa_covid19_data, how='left')

In [130]:
usa_covid19_ndx_data.tail()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,...,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-23,10209.799805,10209.799805,10209.799805,10209.799805,10209.799805,0,10209.799805,10170.049805,10116.233073,10090.174805,...,United_States_of_America,US,USA,329064917.0,America,106.701438,38297.714286,43408.785714,48763.333333,53298.142857
2020-06-24,10002.700195,10002.700195,10002.700195,10002.700195,10002.700195,0,10002.700195,10106.250000,10114.266602,10087.849854,...,United_States_of_America,US,USA,329064917.0,America,111.580415,39750.000000,44737.357143,50035.904762,54203.857143
2020-06-25,10101.799805,10101.799805,10101.799805,10101.799805,10101.799805,0,10101.799805,10052.250000,10104.766602,10111.149902,...,United_States_of_America,US,USA,329064917.0,America,115.751325,41058.571429,46362.571429,51645.333333,55537.000000
2020-06-26,9849.360352,9849.360352,9849.360352,9849.360352,9849.360352,0,9849.360352,9975.580078,9984.620117,10040.915039,...,United_States_of_America,US,USA,329064917.0,America,121.241427,43588.428571,48117.357143,53234.761905,56769.464286
2020-06-29,9961.160156,9961.160156,9961.160156,9961.160156,9961.160156,0,9961.160156,9905.260254,9970.773438,9978.755127,...,United_States_of_America,US,USA,329064917.0,America,138.248405,47031.285714,52668.642857,57197.190476,59560.857143

In [131]:


# usa_covid19_ndx_data=pd.merge(df_nasdaq_100,usa_covid19_data, how='inner', on='Date')

In [132]:
# df_1.merge(df_2, left_index=True, right_index=True, how='inner')

In [133]:
# df = df[df['date'].notnull() == True].set_index('date')
#       d = d[d['date'].notnull() == True].set_index('date')
#       df.join(d, how='right')

In [134]:
#Validate nulls

nulls = usa_covid19_ndx_data.isna().sum()
nulls[nulls >0]

ndx_ma2                                                       1
ndx_ma3                                                       2
ndx_ma4                                                       3
ndx_ma5                                                       4
ndx_ma6                                                       5
ndx_ma7                                                       6
ndx_ma8                                                       7
ndx_ma9                                                       8
ndx_ma10                                                      9
ndx_ma21                                                      9
ndx_ma28                                                      9
ndx_ma14                                                      6
Date                                                          5
day                                                           5
month                                                         5
year                                                          5
usa_daily_cases                                               5
deaths                                                        5
countriesAndTerritories                                       5
geoId                                                         5
countryterritoryCode                                          5
popData2019                                                   5
continentExp                                                  5
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    7
usa_cases_ma7                                                 5
usa_cases_ma14                                                5
usa_cases_ma21                                                7
usa_cases_ma28                                                9
dtype: int64

In [135]:
usa_covid19_ndx_data = usa_covid19_ndx_data.dropna(how='any',axis=0)

# Save data to file

In [136]:
df_nasdaq_100.to_csv(r'nasdaq100_upto10_ma.csv', index = True, header = True)

In [137]:
# df_nasdaq_100.describe

In [138]:
usa_covid19_data.to_csv(r'ecdc_covid_usa.csv', index = True, header = True)

In [139]:
usa_covid19_ndx_data.to_csv(r'ecdc_covid_usa_nasdaq_close_price.csv', index = True, header = True)