Student Name:  Sue Mir

Cohort: Data Science / 17/12/2020 - Module 5 - Capstone

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Define-Functions" data-toc-modified-id="Define-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Define Functions</a></span></li><li><span><a href="#Get-Market-Data---NDX" data-toc-modified-id="Get-Market-Data---NDX-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get Market Data - NDX</a></span><ul class="toc-item"><li><span><a href="#Add-Technical-Indicator---MA-Data" data-toc-modified-id="Add-Technical-Indicator---MA-Data-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Add Technical Indicator - MA Data</a></span></li></ul></li><li><span><a href="#Get-Covid19-Data" data-toc-modified-id="Get-Covid19-Data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Get Covid19 Data</a></span><ul class="toc-item"><li><span><a href="#Add-Covid19-USA--No.-Moving--Averages" data-toc-modified-id="Add-Covid19-USA--No.-Moving--Averages-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Add Covid19 USA  No. Moving  Averages</a></span></li><li><span><a href="#Add-Nasdaq-daily-closing-price" data-toc-modified-id="Add-Nasdaq-daily-closing-price-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Add Nasdaq daily closing price</a></span></li></ul></li><li><span><a href="#Save-data-to-files" data-toc-modified-id="Save-data-to-files-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Save data to files</a></span></li></ul></div>

# Introduction

This module is part of the project 'Were US Covid19 daily case numbers a predictor for the NASDAQ100 stock market index in 2020'?

The Main Goal of this module is the following:
    
1) Retrieve daily Nasdaq data from yahoo finance api for the period 6 months before and after the COVID19 Stock Market crash.  Add moving average technical indicator data to this dataset. Save to xls file.
       
2) Load Covid19 Case number data from ECDC(European Centre Disease Control) and create daily moving averages joined with NASDAQ closing price by date. Save to xls file.

In [1]:
### Get data from Yahoo Finance using yfinance package

# Import Libraries

In [25]:
#pip install yfinance

In [48]:
import pandas as pd
import numpy as np
import yfinance as yf
import gc; gc.enable()
import warnings
warnings.filterwarnings("ignore")

#Dates to extract NASDAQ stock market ticker daily data from Yahoo finance
start_date = "2019-03-01"
end_date = "2020-06-30"

# Define Functions

In [49]:
def make_datetime_index(df,col_to_make_index = 'Date', drop=False, verbose=True):
    '''           
         Transforms data into datetime object with time as index, defaulted as monthly     
         
         df          Dataframe to transform     
    '''

    df[col_to_make_index] = pd.to_datetime(df[col_to_make_index], errors='coerce')
    df = df.set_index('Date', drop=False)
    if verbose:
        display(df.index)
    return df

# Get Market Data - NDX

source for stocks list: [https://whalewisdom.com/filer/renaissance-technologies-llc]

In [50]:
# df_nasdaq_100 = yf.download("NDX", start="2015-01-01", end="2020-11-02")

df_nasdaq_100 = yf.download("NDX", start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [51]:
print(df_nasdaq_100)

                    Open          High           Low         Close  \
Date
2019-03-01   7151.569824   7151.569824   7151.569824   7151.569824
2019-03-04   7150.830078   7150.830078   7150.830078   7150.830078
2019-03-05   7156.790039   7156.790039   7156.790039   7156.790039
2019-03-07   7026.879883   7026.879883   7026.879883   7026.879883
2019-03-08   7015.689941   7015.689941   7015.689941   7015.689941
...                  ...           ...           ...           ...
2020-06-23  10209.799805  10209.799805  10209.799805  10209.799805
2020-06-24  10002.700195  10002.700195  10002.700195  10002.700195
2020-06-25  10101.799805  10101.799805  10101.799805  10101.799805
2020-06-26   9849.360352   9849.360352   9849.360352   9849.360352
2020-06-29   9961.160156   9961.160156   9961.160156   9961.160156

               Adj Close  Volume
Date
2019-03-01   7151.569824       0
2019-03-04   7150.830078       0
2019-03-05   7156.790039       0
2019-03-07   7026.879883       0
2019-03-08   7015.689941       0
...                  ...     ...
2020-06-23  10209.799805       0
2020-06-24  10002.700195       0
2020-06-25  10101.799805       0
2020-06-26   9849.360352       0
2020-06-29   9961.160156       0

[142 rows x 6 columns]

## Add Technical Indicator - MA Data

In [52]:
#Calculate moving average data
df_nasdaq_100['ndx_ma1']=df_nasdaq_100.rolling(window=1).Close.mean()
df_nasdaq_100['ndx_ma2']=df_nasdaq_100.rolling(window=2).Close.mean()
df_nasdaq_100['ndx_ma3']=df_nasdaq_100.rolling(window=3).Close.mean()
df_nasdaq_100['ndx_ma4']=df_nasdaq_100.rolling(window=4).Close.mean()
df_nasdaq_100['ndx_ma5']=df_nasdaq_100.rolling(window=5).Close.mean()
df_nasdaq_100['ndx_ma6']=df_nasdaq_100.rolling(window=6).Close.mean()
df_nasdaq_100['ndx_ma7']=df_nasdaq_100.rolling(window=7).Close.mean()
df_nasdaq_100['ndx_ma8']=df_nasdaq_100.rolling(window=8).Close.mean()
df_nasdaq_100['ndx_ma9']=df_nasdaq_100.rolling(window=9).Close.mean()
df_nasdaq_100['ndx_ma10']=df_nasdaq_100.rolling(window=10).Close.mean()
df_nasdaq_100['ndx_ma14']=df_nasdaq_100.rolling(window=14).Close.mean()
df_nasdaq_100['ndx_ma21']=df_nasdaq_100.rolling(window=21).Close.mean()
df_nasdaq_100['ndx_ma28']=df_nasdaq_100.rolling(window=28).Close.mean()


df_nasdaq_100.head

<bound method NDFrame.head of                     Open          High           Low         Close  \
Date
2019-03-01   7151.569824   7151.569824   7151.569824   7151.569824
2019-03-04   7150.830078   7150.830078   7150.830078   7150.830078
2019-03-05   7156.790039   7156.790039   7156.790039   7156.790039
2019-03-07   7026.879883   7026.879883   7026.879883   7026.879883
2019-03-08   7015.689941   7015.689941   7015.689941   7015.689941
...                  ...           ...           ...           ...
2020-06-23  10209.799805  10209.799805  10209.799805  10209.799805
2020-06-24  10002.700195  10002.700195  10002.700195  10002.700195
2020-06-25  10101.799805  10101.799805  10101.799805  10101.799805
2020-06-26   9849.360352   9849.360352   9849.360352   9849.360352
2020-06-29   9961.160156   9961.160156   9961.160156   9961.160156

               Adj Close  Volume       ndx_ma1       ndx_ma2       ndx_ma3  \
Date
2019-03-01   7151.569824       0   7151.569824           NaN           NaN
2019-03-04   7150.830078       0   7150.830078   7151.199951           NaN
2019-03-05   7156.790039       0   7156.790039   7153.810059   7153.063314
2019-03-07   7026.879883       0   7026.879883   7091.834961   7111.500000
2019-03-08   7015.689941       0   7015.689941   7021.284912   7066.453288
...                  ...     ...           ...           ...           ...
2020-06-23  10209.799805       0  10209.799805  10170.049805  10116.233073
2020-06-24  10002.700195       0  10002.700195  10106.250000  10114.266602
2020-06-25  10101.799805       0  10101.799805  10052.250000  10104.766602
2020-06-26   9849.360352       0   9849.360352   9975.580078   9984.620117
2020-06-29   9961.160156       0   9961.160156   9905.260254   9970.773438

                 ndx_ma4       ndx_ma5       ndx_ma6       ndx_ma7  \
Date
2019-03-01           NaN           NaN           NaN           NaN
2019-03-04           NaN           NaN           NaN           NaN
2019-03-05           NaN           NaN           NaN           NaN
2019-03-07   7121.517456           NaN           NaN           NaN
2019-03-08   7087.547485   7100.351953           NaN           NaN
...                  ...           ...           ...           ...
2020-06-23  10090.174805  10068.635937  10048.758301  10009.919922
2020-06-24  10087.849854  10072.679883  10057.646647  10042.178571
2020-06-25  10111.149902  10090.639844  10077.533203  10063.954241
2020-06-26  10040.915039  10058.791992  10050.426595  10044.937081
2020-06-29   9978.755127  10024.964062  10042.520020  10037.674247

                 ndx_ma8       ndx_ma9      ndx_ma10     ndx_ma14  \
Date
2019-03-01           NaN           NaN           NaN          NaN
2019-03-04           NaN           NaN           NaN          NaN
2019-03-05           NaN           NaN           NaN          NaN
2019-03-07           NaN           NaN           NaN          NaN
2019-03-08           NaN           NaN           NaN          NaN
...                  ...           ...           ...          ...
2020-06-23   9966.651123   9924.632161   9941.598926  9909.909180
2020-06-24  10009.017456   9970.656576   9932.438965  9936.554897
2020-06-25  10049.631226  10019.326606   9983.770898  9956.369908
2020-06-26  10037.130005  10027.378906  10002.329980  9952.644252
2020-06-29  10034.464966  10028.688911  10020.757031  9952.214983

               ndx_ma21     ndx_ma28
Date
2019-03-01          NaN          NaN
2019-03-04          NaN          NaN
2019-03-05          NaN          NaN
2019-03-07          NaN          NaN
2019-03-08          NaN          NaN
...                 ...          ...
2020-06-23  9785.898949  9663.002407
2020-06-24  9815.076079  9698.810268
2020-06-25  9846.492746  9732.708845
2020-06-26  9867.095145  9751.188511
2020-06-29  9886.411365  9774.853516

[142 rows x 19 columns]>

# Get Covid19 Data

- Import Covid19 worldwide data from file provided by the ECDC (European Centre for Disease Prevention and Control) 
[https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases] and calculate the rolling 7,14,21,28 moving average.  Pipe to new file.

In [53]:
covid19_data = pd.read_csv('ecdc_covid_worldwide_data.csv')

In [54]:
usa_covid19_data = covid19_data[covid19_data['countriesAndTerritories']=='United_States_of_America']

## Add Covid19 USA  No. Moving  Averages

In [55]:
#Calculate moving average data for usa and then worldwide
usa_covid19_data['usa_cases_ma7']=usa_covid19_data.rolling(window=7).cases.mean()
usa_covid19_data['usa_cases_ma14']=usa_covid19_data.rolling(window=14).cases.mean()
usa_covid19_data['usa_cases_ma21']=usa_covid19_data.rolling(window=21).cases.mean()
usa_covid19_data['usa_cases_ma28']=usa_covid19_data.rolling(window=28).cases.mean()

## Add Nasdaq daily closing price

- Join closing price of NDX df by date to covid19_ndx df by date. Set datetime index for both before joining

In [56]:
usa_covid19_data = usa_covid19_data.rename(columns={'dateRep': 'Date'})
usa_covid19_data = usa_covid19_data.rename(columns={'cases': 'usa_daily_cases'})

In [57]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
54981,24/11/20,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
54982,23/11/20,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
54983,22/11/20,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
54984,21/11/20,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
54985,20/11/20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [58]:
# usa_covid19_data.set_index(pd.to_datetime(usa_covid19_data['dateRep']), inplace=True)
usa_covid19_data = make_datetime_index(usa_covid19_data)

DatetimeIndex(['2020-11-24', '2020-11-23', '2020-11-22', '2020-11-21',
               '2020-11-20', '2020-11-19', '2020-11-18', '2020-11-17',
               '2020-11-16', '2020-11-15',
               ...
               '2020-09-01', '2020-08-01', '2020-07-01', '2020-06-01',
               '2020-05-01', '2020-04-01', '2020-03-01', '2020-02-01',
               '2020-01-01', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=330, freq=None)

In [59]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,
2020-11-24,2020-11-24,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
2020-11-23,2020-11-23,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
2020-11-22,2020-11-22,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
2020-11-21,2020-11-21,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
2020-11-20,2020-11-20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [60]:
# # df_nasdaq_100.set_index(pd.to_datetime(df_nasdaq_100['Date']), inplace=True)
# df_nasdaq_100 = make_datetime_index(df_nasdaq_100)

In [61]:
df_nasdaq_100.head()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,ndx_ma5,ndx_ma6,ndx_ma7,ndx_ma8,ndx_ma9,ndx_ma10,ndx_ma14,ndx_ma21,ndx_ma28
Date,,,,,,,,,,,,,,,,,,,
2019-03-01,7151.569824,7151.569824,7151.569824,7151.569824,7151.569824,0,7151.569824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-04,7150.830078,7150.830078,7150.830078,7150.830078,7150.830078,0,7150.830078,7151.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-05,7156.790039,7156.790039,7156.790039,7156.790039,7156.790039,0,7156.790039,7153.810059,7153.063314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07,7026.879883,7026.879883,7026.879883,7026.879883,7026.879883,0,7026.879883,7091.834961,7111.500000,7121.517456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08,7015.689941,7015.689941,7015.689941,7015.689941,7015.689941,0,7015.689941,7021.284912,7066.453288,7087.547485,7100.351953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
usa_covid19_ndx_data = df_nasdaq_100.join(usa_covid19_data, how='left')

In [63]:
usa_covid19_ndx_data.tail()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,...,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-23,10209.799805,10209.799805,10209.799805,10209.799805,10209.799805,0,10209.799805,10170.049805,10116.233073,10090.174805,...,United_States_of_America,US,USA,329064917.0,America,106.701438,38297.714286,43408.785714,48763.333333,53298.142857
2020-06-24,10002.700195,10002.700195,10002.700195,10002.700195,10002.700195,0,10002.700195,10106.250000,10114.266602,10087.849854,...,United_States_of_America,US,USA,329064917.0,America,111.580415,39750.000000,44737.357143,50035.904762,54203.857143
2020-06-25,10101.799805,10101.799805,10101.799805,10101.799805,10101.799805,0,10101.799805,10052.250000,10104.766602,10111.149902,...,United_States_of_America,US,USA,329064917.0,America,115.751325,41058.571429,46362.571429,51645.333333,55537.000000
2020-06-26,9849.360352,9849.360352,9849.360352,9849.360352,9849.360352,0,9849.360352,9975.580078,9984.620117,10040.915039,...,United_States_of_America,US,USA,329064917.0,America,121.241427,43588.428571,48117.357143,53234.761905,56769.464286
2020-06-29,9961.160156,9961.160156,9961.160156,9961.160156,9961.160156,0,9961.160156,9905.260254,9970.773438,9978.755127,...,United_States_of_America,US,USA,329064917.0,America,138.248405,47031.285714,52668.642857,57197.190476,59560.857143

In [64]:
#Validate nulls

nulls = usa_covid19_ndx_data.isna().sum()
nulls[nulls >0]

ndx_ma2                                                        1
ndx_ma3                                                        2
ndx_ma4                                                        3
ndx_ma5                                                        4
ndx_ma6                                                        5
ndx_ma7                                                        6
ndx_ma8                                                        7
ndx_ma9                                                        8
ndx_ma10                                                       9
ndx_ma14                                                      13
ndx_ma21                                                      20
ndx_ma28                                                      27
Date                                                          54
day                                                           54
month                                                         54
year                                                          54
usa_daily_cases                                               54
deaths                                                        54
countriesAndTerritories                                       54
geoId                                                         54
countryterritoryCode                                          54
popData2019                                                   54
continentExp                                                  54
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    56
usa_cases_ma7                                                 54
usa_cases_ma14                                                54
usa_cases_ma21                                                56
usa_cases_ma28                                                58
dtype: int64

In [65]:
usa_covid19_ndx_data = usa_covid19_ndx_data.dropna(how='any',axis=0)

# Save data to files

In [66]:
df_nasdaq_100.to_csv(r'nasdaq100_upto10_ma.csv', index = True, header = True)

In [67]:
usa_covid19_data.to_csv(r'ecdc_covid_usa.csv', index = True, header = True)

In [68]:
usa_covid19_ndx_data.to_csv(r'ecdc_covid_usa_nasdaq_close_price.csv', index = True, header = True)