Student Name:  Sue Mir

Cohort: Data Science / 17/12/2020 - Module 5 - Capstone

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Get-data-from-Yahoo-Finance-using-yfinance-package" data-toc-modified-id="Get-data-from-Yahoo-Finance-using-yfinance-package-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Get data from Yahoo Finance using yfinance package</a></span></li></ul></li></ul></li><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Define-Functions" data-toc-modified-id="Define-Functions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Define Functions</a></span></li><li><span><a href="#Get-Market-Data---NDX" data-toc-modified-id="Get-Market-Data---NDX-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get Market Data - NDX</a></span><ul class="toc-item"><li><span><a href="#Add-Technical-Indicator---MA-Data" data-toc-modified-id="Add-Technical-Indicator---MA-Data-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Add Technical Indicator - MA Data</a></span></li></ul></li><li><span><a href="#Get-Covid19-Data" data-toc-modified-id="Get-Covid19-Data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Get Covid19 Data</a></span><ul class="toc-item"><li><span><a href="#Add-Covid19-USA--No.-Moving--Averages" data-toc-modified-id="Add-Covid19-USA--No.-Moving--Averages-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Add Covid19 USA  No. Moving  Averages</a></span></li><li><span><a href="#Add-Nasdaq-daily-closing-price" data-toc-modified-id="Add-Nasdaq-daily-closing-price-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Add Nasdaq daily closing price</a></span></li></ul></li><li><span><a href="#Save-data-to-files" data-toc-modified-id="Save-data-to-files-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Save data to files</a></span></li></ul></div>

# Introduction

This module is part of the project 'Were US Covid19 daily case numbers a predictor for the NASDAQ100 stock market index in 2020'?

The Main Goal of this module is the following:
    
1) Retrieve daily Nasdaq data from yahoo finance api for the period 6 months before and after the COVID19 Stock Market crash.  Add moving average technical indicator data to this dataset. Save to xls file.
       
2) Load Covid19 Case number data from ECDC(European Centre Disease Control) and create daily moving averages joined with NASDAQ closing price by date. Save to xls file.

### Get data from Yahoo Finance using yfinance package

https://finance.yahoo.com/quote/%5ENDX/history/

# Import Libraries

In [294]:
#pip install yfinance

In [354]:
import pandas as pd
import numpy as np
import yfinance as yf
import gc; gc.enable()
import warnings
warnings.filterwarnings("ignore")

#Dates to extract NASDAQ stock market ticker daily data from Yahoo finance

download_start_date = pd.to_datetime('2019-03-01')
download_end_date = pd.to_datetime('2020-07-30')
ecdc_covid_report_start_date = pd.to_datetime('2016-12-31')

# Define Functions

In [296]:
def make_datetime_index(df,col_to_make_index = 'Date', drop=False, verbose=True):
    '''           
         Transforms data into datetime object with time as index, defaulted as monthly     
         
         df          Dataframe to transform     
    '''

    df[col_to_make_index] = pd.to_datetime(df[col_to_make_index], errors='coerce')
    df = df.set_index('Date', drop=False)
    if verbose:
        display(df.index)
    return df

# Get Market Data - NDX

source for stocks list: [https://whalewisdom.com/filer/renaissance-technologies-llc]

In [297]:
# df_nasdaq_100 = yf.download("NDX", start="2015-01-01", end="2020-11-02")

df_nasdaq_100 = yf.download("NDX", start=download_start_date, end=download_end_date)

[*********************100%***********************]  1 of 1 completed

In [298]:
# df_nasdaq_100 = pd.read_csv('nasdaq100.csv')

In [299]:
df_nasdaq_100.describe()

,Open,High,Low,Close,Adj Close,Volume
count,160.000000,160.000000,160.000000,160.000000,160.000000,160.0
mean,8635.920618,8635.920618,8635.920618,8635.920618,8635.920618,0.0
std,1179.977008,1179.977008,1179.977008,1179.977008,1179.977008,0.0
min,6978.020020,6978.020020,6978.020020,6978.020020,6978.020020,0.0
25%,7551.607422,7551.607422,7551.607422,7551.607422,7551.607422,0.0
50%,8617.995117,8617.995117,8617.995117,8617.995117,8617.995117,0.0
75%,9624.642578,9624.642578,9624.642578,9624.642578,9624.642578,0.0
max,10952.099609,10952.099609,10952.099609,10952.099609,10952.099609,0.0

In [300]:
df_nasdaq_100.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [301]:
df_nasdaq_100.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-03-01,7151.569824,7151.569824,7151.569824,7151.569824,7151.569824,0
2019-03-04,7150.830078,7150.830078,7150.830078,7150.830078,7150.830078,0
2019-03-05,7156.790039,7156.790039,7156.790039,7156.790039,7156.790039,0
2019-03-07,7026.879883,7026.879883,7026.879883,7026.879883,7026.879883,0
2019-03-08,7015.689941,7015.689941,7015.689941,7015.689941,7015.689941,0

In [302]:
df_nasdaq_100.head().tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-03-01,7151.569824,7151.569824,7151.569824,7151.569824,7151.569824,0
2019-03-04,7150.830078,7150.830078,7150.830078,7150.830078,7150.830078,0
2019-03-05,7156.790039,7156.790039,7156.790039,7156.790039,7156.790039,0
2019-03-07,7026.879883,7026.879883,7026.879883,7026.879883,7026.879883,0
2019-03-08,7015.689941,7015.689941,7015.689941,7015.689941,7015.689941,0

In [303]:
print(df_nasdaq_100)

                    Open          High           Low         Close  \
Date
2019-03-01   7151.569824   7151.569824   7151.569824   7151.569824
2019-03-04   7150.830078   7150.830078   7150.830078   7150.830078
2019-03-05   7156.790039   7156.790039   7156.790039   7156.790039
2019-03-07   7026.879883   7026.879883   7026.879883   7026.879883
2019-03-08   7015.689941   7015.689941   7015.689941   7015.689941
...                  ...           ...           ...           ...
2020-07-23  10580.599609  10580.599609  10580.599609  10580.599609
2020-07-24  10483.099609  10483.099609  10483.099609  10483.099609
2020-07-27  10674.400391  10674.400391  10674.400391  10674.400391
2020-07-28  10532.500000  10532.500000  10532.500000  10532.500000
2020-07-29  10663.000000  10663.000000  10663.000000  10663.000000

               Adj Close  Volume
Date
2019-03-01   7151.569824       0
2019-03-04   7150.830078       0
2019-03-05   7156.790039       0
2019-03-07   7026.879883       0
2019-03-08   7015.689941       0
...                  ...     ...
2020-07-23  10580.599609       0
2020-07-24  10483.099609       0
2020-07-27  10674.400391       0
2020-07-28  10532.500000       0
2020-07-29  10663.000000       0

[160 rows x 6 columns]

## Add Technical Indicator - MA Data

In [306]:
#Calculate moving average data
df_nasdaq_100['ndx_ma1']=df_nasdaq_100.rolling(window=1).Close.mean()
df_nasdaq_100['ndx_ma2']=df_nasdaq_100.rolling(window=2).Close.mean()
df_nasdaq_100['ndx_ma3']=df_nasdaq_100.rolling(window=3).Close.mean()
df_nasdaq_100['ndx_ma4']=df_nasdaq_100.rolling(window=4).Close.mean()
df_nasdaq_100['ndx_ma5']=df_nasdaq_100.rolling(window=5).Close.mean()
df_nasdaq_100['ndx_ma6']=df_nasdaq_100.rolling(window=6).Close.mean()
df_nasdaq_100['ndx_ma7']=df_nasdaq_100.rolling(window=7).Close.mean()
df_nasdaq_100['ndx_ma8']=df_nasdaq_100.rolling(window=8).Close.mean()
df_nasdaq_100['ndx_ma9']=df_nasdaq_100.rolling(window=9).Close.mean()
df_nasdaq_100['ndx_ma10']=df_nasdaq_100.rolling(window=10).Close.mean()
df_nasdaq_100['ndx_ma14']=df_nasdaq_100.rolling(window=14).Close.mean()
df_nasdaq_100['ndx_ma21']=df_nasdaq_100.rolling(window=21).Close.mean()
df_nasdaq_100['ndx_ma28']=df_nasdaq_100.rolling(window=28).Close.mean()


df_nasdaq_100.head

<bound method NDFrame.head of                     Open          High           Low         Close  \
Date
2019-03-01   7151.569824   7151.569824   7151.569824   7151.569824
2019-03-04   7150.830078   7150.830078   7150.830078   7150.830078
2019-03-05   7156.790039   7156.790039   7156.790039   7156.790039
2019-03-07   7026.879883   7026.879883   7026.879883   7026.879883
2019-03-08   7015.689941   7015.689941   7015.689941   7015.689941
...                  ...           ...           ...           ...
2020-07-23  10580.599609  10580.599609  10580.599609  10580.599609
2020-07-24  10483.099609  10483.099609  10483.099609  10483.099609
2020-07-27  10674.400391  10674.400391  10674.400391  10674.400391
2020-07-28  10532.500000  10532.500000  10532.500000  10532.500000
2020-07-29  10663.000000  10663.000000  10663.000000  10663.000000

               Adj Close  Volume       ndx_ma1       ndx_ma2       ndx_ma3  \
Date
2019-03-01   7151.569824       0   7151.569824           NaN           NaN
2019-03-04   7150.830078       0   7150.830078   7151.199951           NaN
2019-03-05   7156.790039       0   7156.790039   7153.810059   7153.063314
2019-03-07   7026.879883       0   7026.879883   7091.834961   7111.500000
2019-03-08   7015.689941       0   7015.689941   7021.284912   7066.453288
...                  ...     ...           ...           ...           ...
2020-07-23  10580.599609       0  10580.599609  10725.699707  10761.499674
2020-07-24  10483.099609       0  10483.099609  10531.849609  10644.833008
2020-07-27  10674.400391       0  10674.400391  10578.750000  10579.366536
2020-07-28  10532.500000       0  10532.500000  10603.450195  10563.333333
2020-07-29  10663.000000       0  10663.000000  10597.750000  10623.300130

                 ndx_ma4       ndx_ma5       ndx_ma6       ndx_ma7  \
Date
2019-03-01           NaN           NaN           NaN           NaN
2019-03-04           NaN           NaN           NaN           NaN
2019-03-05           NaN           NaN           NaN           NaN
2019-03-07   7121.517456           NaN           NaN           NaN
2019-03-08   7087.547485   7100.351953           NaN           NaN
...                  ...           ...           ...           ...
2020-07-23  10809.149658  10776.359766  10751.383138  10744.285575
2020-07-24  10691.899658  10743.939648  10727.483073  10713.056920
2020-07-27  10652.224854  10688.399805  10732.349772  10719.899833
2020-07-28  10567.649902  10628.279883  10662.416504  10703.799805
2020-07-29  10588.250000  10586.719922  10634.066569  10662.499860

                 ndx_ma8       ndx_ma9      ndx_ma10      ndx_ma14  \
Date
2019-03-01           NaN           NaN           NaN           NaN
2019-03-04           NaN           NaN           NaN           NaN
2019-03-05           NaN           NaN           NaN           NaN
2019-03-07           NaN           NaN           NaN           NaN
2019-03-08           NaN           NaN           NaN           NaN
...                  ...           ...           ...           ...
2020-07-23  10737.437378  10722.411024  10733.799902  10656.807059
2020-07-24  10711.637329  10709.177626  10698.479883  10680.114188
2020-07-27  10708.224854  10707.499891  10705.699902  10708.342773
2020-07-28  10696.474854  10688.699870  10689.999902  10698.757045
2020-07-29  10698.699829  10692.755425  10686.129883  10692.214216

                ndx_ma21      ndx_ma28
Date
2019-03-01           NaN           NaN
2019-03-04           NaN           NaN
2019-03-05           NaN           NaN
2019-03-07           NaN           NaN
2019-03-08           NaN           NaN
...                  ...           ...
2020-07-23  10450.429455  10304.511021
2020-07-24  10473.024693  10318.396729
2020-07-27  10498.934245  10357.179583
2020-07-28  10514.300921  10388.205671
2020-07-29  10545.743769  10419.852469

[160 rows x 19 columns]>

# Get Covid19 Data

- Import Covid19 worldwide data from file provided by the ECDC (European Centre for Disease Prevention and Control) 
[https://www.ecdc.europa.eu/en/geographical-distribution-2019-ncov-cases] and calculate the rolling 7,14,21,28 moving average.  Pipe to new file.

In [307]:
covid19_data = pd.read_csv('ecdc_covid_worldwide_data.csv')

In [308]:
usa_covid19_data = covid19_data[covid19_data['countriesAndTerritories']=='United_States_of_America']

## Add Covid19 USA  No. Moving  Averages

In [309]:
#Calculate moving average data for usa and then worldwide
usa_covid19_data['usa_cases_ma7']=usa_covid19_data.rolling(window=7).cases.mean()
usa_covid19_data['usa_cases_ma14']=usa_covid19_data.rolling(window=14).cases.mean()
usa_covid19_data['usa_cases_ma21']=usa_covid19_data.rolling(window=21).cases.mean()
usa_covid19_data['usa_cases_ma28']=usa_covid19_data.rolling(window=28).cases.mean()

## Add Nasdaq daily closing price

- Join closing price of NDX df by date to covid19_ndx df by date. Set datetime index for both before joining

In [310]:
usa_covid19_data = usa_covid19_data.rename(columns={'dateRep': 'Date'})
usa_covid19_data = usa_covid19_data.rename(columns={'cases': 'usa_daily_cases'})

In [311]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
54981,24/11/20,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
54982,23/11/20,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
54983,22/11/20,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
54984,21/11/20,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
54985,20/11/20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [312]:
# usa_covid19_data.set_index(pd.to_datetime(usa_covid19_data['dateRep']), inplace=True)
usa_covid19_data = make_datetime_index(usa_covid19_data)

DatetimeIndex(['2020-11-24', '2020-11-23', '2020-11-22', '2020-11-21',
               '2020-11-20', '2020-11-19', '2020-11-18', '2020-11-17',
               '2020-11-16', '2020-11-15',
               ...
               '2020-09-01', '2020-08-01', '2020-07-01', '2020-06-01',
               '2020-05-01', '2020-04-01', '2020-03-01', '2020-02-01',
               '2020-01-01', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=330, freq=None)

In [313]:
usa_covid19_data.head()

,Date,day,month,year,usa_daily_cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,
2020-11-24,2020-11-24,24,11,2020,173963,919,United_States_of_America,US,USA,329064917.0,America,702.086391,NaN,NaN,NaN,NaN
2020-11-23,2020-11-23,23,11,2020,157471,883,United_States_of_America,US,USA,329064917.0,America,691.431351,NaN,NaN,NaN,NaN
2020-11-22,2020-11-22,22,11,2020,175494,1486,United_States_of_America,US,USA,329064917.0,America,677.215918,NaN,NaN,NaN,NaN
2020-11-21,2020-11-21,21,11,2020,196117,1858,United_States_of_America,US,USA,329064917.0,America,660.781167,NaN,NaN,NaN,NaN
2020-11-20,2020-11-20,20,11,2020,188020,2018,United_States_of_America,US,USA,329064917.0,America,640.878104,NaN,NaN,NaN,NaN

In [315]:
df_nasdaq_100.head()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,ndx_ma5,ndx_ma6,ndx_ma7,ndx_ma8,ndx_ma9,ndx_ma10,ndx_ma14,ndx_ma21,ndx_ma28
Date,,,,,,,,,,,,,,,,,,,
2019-03-01,7151.569824,7151.569824,7151.569824,7151.569824,7151.569824,0,7151.569824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-04,7150.830078,7150.830078,7150.830078,7150.830078,7150.830078,0,7150.830078,7151.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-05,7156.790039,7156.790039,7156.790039,7156.790039,7156.790039,0,7156.790039,7153.810059,7153.063314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07,7026.879883,7026.879883,7026.879883,7026.879883,7026.879883,0,7026.879883,7091.834961,7111.500000,7121.517456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08,7015.689941,7015.689941,7015.689941,7015.689941,7015.689941,0,7015.689941,7021.284912,7066.453288,7087.547485,7100.351953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [316]:
usa_covid19_ndx_data = df_nasdaq_100.join(usa_covid19_data, how='left')

In [317]:
usa_covid19_ndx_data.tail()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,...,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,usa_cases_ma7,usa_cases_ma14,usa_cases_ma21,usa_cases_ma28
Date,,,,,,,,,,,,,,,,,,,,,
2020-07-23,10580.599609,10580.599609,10580.599609,10580.599609,10580.599609,0,10580.599609,10725.699707,10761.499674,10809.149658,...,United_States_of_America,US,USA,329064917.0,America,278.334746,64277.000000,62073.500000,59007.095238,56441.357143
2020-07-24,10483.099609,10483.099609,10483.099609,10483.099609,10483.099609,0,10483.099609,10531.849609,10644.833008,10691.899658,...,United_States_of_America,US,USA,329064917.0,America,278.393093,65153.714286,60927.500000,58392.476190,55676.285714
2020-07-27,10674.400391,10674.400391,10674.400391,10674.400391,10674.400391,0,10674.400391,10578.750000,10579.366536,10652.224854,...,United_States_of_America,US,USA,329064917.0,America,282.338819,63202.428571,58570.714286,56339.904762,53217.071429
2020-07-28,10532.500000,10532.500000,10532.500000,10532.500000,10532.500000,0,10532.500000,10603.450195,10563.333333,10567.649902,...,United_States_of_America,US,USA,329064917.0,America,281.770238,61990.714286,57917.428571,55678.523810,52449.678571
2020-07-29,10663.000000,10663.000000,10663.000000,10663.000000,10663.000000,0,10663.000000,10597.750000,10623.300130,10588.250000,...,United_States_of_America,US,USA,329064917.0,America,279.708639,60471.285714,57437.928571,54669.619048,51808.785714

In [318]:
#Validate nulls

nulls = usa_covid19_ndx_data.isna().sum()
nulls[nulls >0]

ndx_ma2                                                        1
ndx_ma3                                                        2
ndx_ma4                                                        3
ndx_ma5                                                        4
ndx_ma6                                                        5
ndx_ma7                                                        6
ndx_ma8                                                        7
ndx_ma9                                                        8
ndx_ma10                                                       9
ndx_ma14                                                      13
ndx_ma21                                                      20
ndx_ma28                                                      27
Date                                                          54
day                                                           54
month                                                         54
year                                                          54
usa_daily_cases                                               54
deaths                                                        54
countriesAndTerritories                                       54
geoId                                                         54
countryterritoryCode                                          54
popData2019                                                   54
continentExp                                                  54
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    57
usa_cases_ma7                                                 54
usa_cases_ma14                                                54
usa_cases_ma21                                                56
usa_cases_ma28                                                58
dtype: int64

In [319]:
usa_covid19_ndx_data = usa_covid19_ndx_data.dropna(how='any',axis=0)

In [344]:
start = pd.to_datetime('2019-12-30')
end = pd.to_datetime('2020-7-30')

In [347]:
df_nasdaq_100_covid_period = df_nasdaq_100.loc[(df_nasdaq_100.index > start) & (df_nasdaq_100.index < end)]

In [350]:
df_nasdaq_100_covid_period.tail()

,Open,High,Low,Close,Adj Close,Volume,ndx_ma1,ndx_ma2,ndx_ma3,ndx_ma4,ndx_ma5,ndx_ma6,ndx_ma7,ndx_ma8,ndx_ma9,ndx_ma10,ndx_ma14,ndx_ma21,ndx_ma28
Date,,,,,,,,,,,,,,,,,,,
2020-07-23,10580.599609,10580.599609,10580.599609,10580.599609,10580.599609,0,10580.599609,10725.699707,10761.499674,10809.149658,10776.359766,10751.383138,10744.285575,10737.437378,10722.411024,10733.799902,10656.807059,10450.429455,10304.511021
2020-07-24,10483.099609,10483.099609,10483.099609,10483.099609,10483.099609,0,10483.099609,10531.849609,10644.833008,10691.899658,10743.939648,10727.483073,10713.056920,10711.637329,10709.177626,10698.479883,10680.114188,10473.024693,10318.396729
2020-07-27,10674.400391,10674.400391,10674.400391,10674.400391,10674.400391,0,10674.400391,10578.750000,10579.366536,10652.224854,10688.399805,10732.349772,10719.899833,10708.224854,10707.499891,10705.699902,10708.342773,10498.934245,10357.179583
2020-07-28,10532.500000,10532.500000,10532.500000,10532.500000,10532.500000,0,10532.500000,10603.450195,10563.333333,10567.649902,10628.279883,10662.416504,10703.799805,10696.474854,10688.699870,10689.999902,10698.757045,10514.300921,10388.205671
2020-07-29,10663.000000,10663.000000,10663.000000,10663.000000,10663.000000,0,10663.000000,10597.750000,10623.300130,10588.250000,10586.719922,10634.066569,10662.499860,10698.699829,10692.755425,10686.129883,10692.214216,10545.743769,10419.852469

# Save data to files

In [351]:
usa_covid19_data.to_csv(r'ecdc_covid_usa.csv', index = True, header = True)

In [352]:
usa_covid19_ndx_data.to_csv(r'ecdc_covid_usa_nasdaq_close_price.csv', index = True, header = True)

In [353]:
df_nasdaq_100_covid_period.to_csv(r'nasdaq100_upto10_ma.csv', index = True, header = True)